.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.pagination li.active {
    font-weight: bold;
}